.cart-container {
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cart-items-container {
    margin-top: 100px;
    width: 100%;
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 1.5rem;
    padding: 0 2rem;
}

.cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;    
    border: 1px solid var(--color-border);
    border-radius: 5px;
    padding: 1rem;
    width: 420px;
    box-shadow: var(--shadow-sm);
}
.cart-item-content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    width: 60%;
    gap: 0.5rem;
}
.cart-item-image {
    object-fit: cover;
    width: 100px;
}
.cart-item-content p{
    border-bottom: 1px solid var(--color-border); 
}
.cart-item-btn {
    padding: 0.3rem 0.6rem;
    width: 100%;
    border: none;
    background-color: var(--color-primary);
    color: white;
}
    .cart-item-btn:hover {
        background-color: var(--color-primary-hover);
    }


.cart-item-buy {
    width: 100%;
    border: none;
    color: white;
    background-color: var(--color-accent);
    padding: 0.3rem 0.6rem;
}