.compare-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-direction: column;
    gap: 2rem;
}

.compareForm-container{
    margin-top: 100px;
}