.navbar-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    box-shadow: var(--shadow-sm);
    background-color: var(--color-body);
    position: fixed;
    z-index: 90;
}

.navbar-left {
    display: flex;
    gap: 1rem;
    align-items: center;
}
.navbar-left .icons, .navbar-left h5{
    font: var(--h4)
}
    .navbar-left button {
        background: none;
        border: none;
        color: var(--color-title);
    }
.navbar-title {
    font: var(--h4);
}
.navbar-right {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
    .navbar-right .icons {
        font: var(--h5);
    }
    .navbar-right button {
        background: none;
        border: none;
    }

.searchbar-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: hsla(230, 12%, 96%, .6);
    backdrop-filter: blur(8px);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.5rem;
    text-align: center;
    transition: top .4s;
    z-index: 9999;
}

.searchbar-input {
    background-color: var(--color-surface);
    padding: 2rem 1.5rem;
    border: 2px solid var(--color-border);
    row-gap: 1.25rem;
    max-width: 100%;
    min-width: 500px;
    border-radius: 8px;
}