.sidebar-container {
    position: fixed;
    z-index: 1000;
    background-color: var(--color-surface-alt);
    padding: 1rem;
    min-width: 300px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    box-shadow: var(--shadow-md);
}

.sidebar-close {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
    .sidebar-close button {
        background: none;
        border: none;
        font: var(--h4);
    }

.sidebar-show {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
    .sidebar-show button {
        font: var(--h5);
        color: var(--color-text-secondary);
        border: none;
        border-bottom: 1px solid var(--color-border-strong);
        width: 100%;
        cursor: pointer;
        padding: 0.25rem;
        background-color: var(--color-secondary)
    }
        .sidebar-show button:hover {
            background-color: var(--color-primary);
            color: white;
        }


@media (max-width: 768px) {
    .sidebar-container {
        width: 100%;
        min-width: unset;
    }
}